# Comma separated instance name to process snapshots.
instance_names: PipelineStagingELK

# age in days to retain snapshots
retention:
  daily: 14 # keep every day for <daily> days
  periodic: # every <interval> days keep one snapshot for <interval * span> days
    interval: 7
    span: 4

# log file location if nothing specified default value will be /var/log/ebs_snapshots.log
log_file_path : /home/clogeny/cron_snapshots.log

# A short description to identify the snapshot. This tool creates the snapshot with description as "<namespace>-<Time>".
  # e.g Pipeline-2014-11-10.110630 where namespace=Pipeline
namespace : ELKSnap

# log level, simply assign the appropriate constant to level
  # Valid Values debug, info, warn, error, fatal, and unknown and default value is warn
log_level : warn
